// Base styles applied to all Wayle components.

* {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

window {
    background-color: var(--bg-base);
    color: var(--fg-default);
    font-family: var(--font-sans);
}

popover.background {
    background: transparent;

    > arrow {
        min-width: 0;
        min-height: 0;
        border: none;
        background: none;
    }

    > contents {
        background-color: var(--bg-elevated);
        border-radius: var(--rounding-container);
        border: 1px solid var(--border-default);
        box-shadow: var(--shadow);
        padding: var(--space-sm);
    }
}

scrollbar {
    all: unset;

    range trough {
        background: var(--bg-active);
        border-radius: var(--radius-full);
        min-width: calc(0.375rem * var(--global-scale));
        min-height: calc(0.375rem * var(--global-scale));

        slider {
            background: var(--fg-subtle);
            border-radius: var(--radius-full);
            min-width: calc(0.375rem * var(--global-scale));
            min-height: calc(0.375rem * var(--global-scale));

            &:hover {
                background: var(--fg-muted);
            }

            &:active {
                background: var(--fg-default);
            }
        }
    }
}
