@mixin tooltip-base {
    background: var(--bg-active);
    border-radius: var(--rounding-container);

    label {
        color: var(--fg-default);
        font-size: var(--text-md);
        margin: var(--space-xs) var(--space-sm);
    }
}
