.workspaces {
    all: unset;
    border-radius: calc(var(--bar-button-rounding-element) * 1.2);
    background-color: color-mix(
        in srgb,
        var(--ws-container-bg-color) var(--bar-button-bg-opacity),
        transparent
    );

    &.border-all {
        box-shadow: inset 0 0 0 var(--ws-border-width) var(--ws-border-color);
    }

    &.border-top {
        box-shadow: inset 0 var(--ws-border-width) 0 0 var(--ws-border-color);
    }

    &.border-bottom {
        box-shadow: inset 0 calc(-1 * var(--ws-border-width)) 0 0 var(--ws-border-color);
    }

    &.border-left {
        box-shadow: inset var(--ws-border-width) 0 0 0 var(--ws-border-color);
    }

    &.border-right {
        box-shadow: inset calc(-1 * var(--ws-border-width)) 0 0 0 var(--ws-border-color);
    }
}

.workspace {
    all: unset;
    min-width: var(--bar-space-lg);
    min-height: var(--bar-space-lg);
    border-radius: var(--bar-button-rounding-element);
    transition:
        background-color var(--duration-fast),
        border-color var(--duration-fast);

    &.indicator-background {
        &.active {
            background-color: var(--ws-override-color, var(--ws-active-color));
        }
        &.active-other-monitor {
            background-color: var(--ws-override-color, var(--ws-active-other-monitor-color));
        }
    }

    &.indicator-underline{
        &.active {
            background-image: linear-gradient(
                to top,
                var(--ws-override-color, var(--ws-active-color)) 2px,
                transparent 2px
            );

            &.vertical {
                background-image: linear-gradient(
                    to right,
                    var(--ws-override-color, var(--ws-active-color)) 2px,
                    transparent 2px
                );
            }
        }

        &.active-other-monitor {
            background-image: linear-gradient(
                to top,
                var(--ws-override-color, var(--ws-active-other-monitor-color)) 2px,
                transparent 2px
            );

            &.vertical {
                background-image: linear-gradient(
                    to right,
                    var(--ws-override-color, var(--ws-active-other-monitor-color)) 2px,
                    transparent 2px
                );
            }
        }
    }

    &.active {
        .workspace-label,
        .workspace-icon,
        .workspace-custom-icon,
        .workspace-divider {
            color: var(--ws-override-color, var(--ws-active-color));
        }

        &.indicator-background {
            .workspace-label,
            .workspace-icon,
            .workspace-custom-icon,
            .workspace-divider {
                color: var(--fg-on-accent);
            }
        }
    }

    &.active-other-monitor {
        .workspace-label,
        .workspace-icon,
        .workspace-custom-icon,
        .workspace-divider {
            color: var(--ws-override-color, var(--ws-active-other-monitor-color));
        }

        &.indicator-background {
            .workspace-label,
            .workspace-icon,
            .workspace-custom-icon,
            .workspace-divider {
                color: var(--fg-on-accent);
            }
        }
    }

    &.occupied:not(.active) {
        .workspace-label,
        .workspace-icon,
        .workspace-custom-icon,
        .workspace-divider {
            color: var(--ws-override-color, var(--ws-occupied-color));
        }
    }

    &.empty {
        .workspace-label,
        .workspace-custom-icon,
        .workspace-divider {
            color: var(--ws-override-color, var(--ws-empty-color));
        }

        .workspace-icon-empty {
            color: var(--ws-override-color, var(--ws-empty-color));
        }
    }

    &.urgent {
        opacity: 0.5;
    }

    &.special {
        opacity: 0.8;
    }

    &:hover:not(.active) {
        background-color: color-mix(in srgb, var(--ws-active-color) 15%, transparent);
    }
}

.workspace-content {
    margin: calc(var(--ws-margin-vertical-px) * 1px) calc(var(--ws-margin-horizontal-px) * 1px);
}

.workspace-label {
    font-family: var(--font-sans);
    font-size: calc(var(--ws-label-size-px) * 1px);
    font-weight: var(--weight-bold);
}

.workspace-custom-icon {
    -gtk-icon-size: calc(var(--ws-icon-size-px) * 1px);
}

.workspace-icon {
    -gtk-icon-size: calc(var(--ws-icon-size-px) * 1px);

    &.urgent {
        opacity: 0.5;
    }
}

.workspace-divider {
    font-family: var(--font-sans);
    font-size: calc(var(--ws-label-size-px) * 1px);
    font-weight: var(--weight-bold);
}

